.ant-input {
  border: none;
  resize: none;
  word-break: break-all;
  height: 32px;
}
textarea.ant-input {
  height: 32px;
}
.ant-input:focus {
  border: none !important;

  background-color: yellow;
}
