.ant-input {
  border: none;
  resize: none;
  word-break: break-all;
  height: 36px;
  line-height: 36px;
}
textarea.ant-input {
  line-height: 36px;
  height: 36px;
}
.ant-input:focus {
  border: none !important;

  background-color: yellow;
}
.ant-radio-wrapper {
  width: 100%;
  line-height: 36px;
}
.ant-radio-disabled .ant-radio-inner {
  background-color: #fff;
}

.ant-checkbox + span {
  display: inline-block;
  width: 100%;
}
.ant-checkbox-wrapper {
  width: 100%;
  line-height: 36px;
}
.ant-checkbox-disabled .ant-checkbox-inner {
  background-color: #fff;
}
.ant-radio + * {
  width: 100%;
  display: inline-block;
}
